html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

#map {
  width: 100%; 
  height: 100%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;

  circle {
    pointer-events: auto;
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
      in oklch,
      var(--color-departures) calc(100% * var(--departure-ratio)),
      var(--color-arrivals)
    );
    fill: var(--color);
  }
}

.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin: 0.5em auto;
  font-size: 0.9rem;
  width: 100%;
  div {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
      in oklch,
      var(--color-departures) calc(100% * var(--departure-ratio)),
      var(--color-arrivals)
    );

    flex: 1;
    text-align: center;
    border-radius: 0.25em;
    gap: 1px;
    font-weight: 500;
    padding: 0.25em 0.5em;
    background-color: var(--color);
    color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  }
}